
        <div class="container">
            <h1>Mi carrito</h1>
            <div class="row">
                <div class="col-8">
                    Desgloce
                </div>
                <div class="col-4">
                    Totales
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Foto</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Subtotal</th>
                          </tr>
                        </thead>
                        <tbody id="products_on_cart">
                          
                        </tbody>
                    </table>
                </div>
                <div class="col-4">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Subtotal</th>
                            <td id="subtotal">$--.--</td>
                          </tr>
                          <tr>
                            <th scope="row">Impuestos</th>
                            <td id="impuestos">$--.--</td>
                          </tr>
                          <tr>
                            <th scope="row">Total</th>
                            <td id="total">$--.--</td>
                          </tr>
                          <hr>
                          <tr>
                            <th scope="row">Total USD</th>
                            <td id="total_usd">$--.--</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>